#app {
  // sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.root__container {
  width: 100vw;
  position: relative;
}

#view {
  // Header margin
  margin-top: 2rem;
  // Sticky footer
  flex: 1;
  align-self: center;
}
