<div id="main__view">
  <div id="grid">

    <div id="tower">
      <svg class="player__circle" [ngStyle]="{'display': players && players[0] ? '' : 'none' , 'left.px': players && players[0] ? getPlayerPosition(1, 'left'):'0', 'top.px': players && players[0] ? getPlayerPosition(1,'top') : '0'}"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
        <defs>
          <style>
            .player-1 {
              fill: #e74c3c;
            }
          </style>
        </defs>
        <circle id="player-1" class="player-1" cx="12.5" cy="12.5" r="12.5" />
      </svg>

      <svg class="player__circle" [ngStyle]="{'display': players && players[1] ? '' : 'none' , 'left.px': players && players[1] ? getPlayerPosition(2, 'left'):'0', 'top.px': players && players[1] ? getPlayerPosition(2,'top') : '0'}"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
        <defs>
          <style>
            .player-2 {
              fill: #8e44ad;
            }
          </style>
        </defs>
        <circle id="player-2" class="player-2" cx="12.5" cy="12.5" r="12.5" />
      </svg>

      <svg class="player__circle" [ngStyle]="{'display': players && players[2] ? '' : 'none' , 'left.px': players && players[2] ? getPlayerPosition(3, 'left'):'0', 'top.px': players && players[2] ? getPlayerPosition(3,'top') : '0'}"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
        <defs>
          <style>
            .player-3 {
              fill: #16a085;
            }
          </style>
        </defs>
        <circle id="player-3" class="player-3" cx="12.5" cy="12.5" r="12.5" />
      </svg>

      <svg class="player__circle" [ngStyle]="{'display': players && players[3 ] ? '' : 'none' , 'left.px': players && players[3] ? getPlayerPosition(4, 'left'):'0', 'top.px': players && players[3] ? getPlayerPosition(4,'top') : '0'}"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
        <defs>
          <style>
            .player-4 {
              fill: #f1c40f;
            }
          </style>
        </defs>
        <circle id="player-4" class="player-4" cx="12.5" cy="12.5" r="12.5" />
      </svg>

    </div>

    <app-player *ngFor="let player of players" [player]="player" [attr.id]="'player' + player.id" [currentPlayer]="currentPlayer"></app-player>

    <div id="quiz">
      <mat-card>
        <mat-card-content>

          <div>

            <svg class="quiz__difficulty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29">
              <defs>
                <style>
                  .b {
                    fill: rgba(231, 76, 60, 0.3);
                  }
                </style>
              </defs>
              <circle class="b" [ngClass]="{'quiz__difficulty-hard': question.schwierigkeitsgrad == 3}" cx="14.5" cy="14.5" r="14.5" />
            </svg>

            <svg class="quiz__difficulty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29">
              <defs>
                <style>
                  .a {
                    fill: rgba(243, 156, 18, 0.3);
                  }
                </style>
              </defs>
              <circle class="a" [ngClass]="{'quiz__difficulty-medium': question.schwierigkeitsgrad == 2}" cx="14.5" cy="14.5" r="14.5"
              />
            </svg>

            <svg class="quiz__difficulty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29">
              <defs>
                <style>
                  .c {
                    fill: rgba(46, 204, 113, 0.3);
                  }
                </style>
              </defs>
              <circle class="c" [ngClass]="{'quiz__difficulty-easy': question.schwierigkeitsgrad == 1}" cx="14.5" cy="14.5" r="14.5" />
            </svg>

          </div>

          <div id="quiz__header">
            <h2>Quiz</h2>
          </div>

          <div id="quiz__question">
            <p>
              {{ questionText }}
            </p>
          </div>

          <mat-radio-group id="quiz__options" [(ngModel)]="selectedAnswer">
            <mat-radio-button class="quiz__options-radio-button" *ngFor="let option of questionOptions" [value]="option">
              <div [ngClass]="{'quiz__correct': showingAnswer && option === questionOptions[this.question.richtig - 1]}" class="quiz__options-option">{{ option }}</div>
            </mat-radio-button>
          </mat-radio-group>

          <div id="quiz__buttons">
            <button mat-button mat-raised-button color="primary" (click)="bribe()" [disabled]="showingAnswer || selectedAnswer == null">Bestechen ({{ question.schwierigkeitsgrad * 200 }} PM)</button>
            <button mat-button mat-raised-button color="primary" (click)="submit()" [disabled]="showingAnswer || selectedAnswer == null">OK</button>
            <button mat-button mat-raised-button color="primary" (click)="nextTurn()" [disabled]="!showingAnswer">Weiter</button>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
    <div id="progress">
      <mat-card>
        <mat-card-content id="progress__content">
          <section id="progress__titles">
            <div class="progress__titles-title" *ngFor="let stage of stages">
              {{ stage }}
            </div>
          </section>
          <section>
            <mat-progress-bar class="example-margin " [color]="color " [mode]="mode " [value]="game.progress">
            </mat-progress-bar>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
