<div id="main__view">

  <h1>- Game of PM -</h1>

  <div id="subtitle">To learn what management means.</div>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. An hoc usque quaque, aliter in vita? Negat enim summo bono afferre
    incrementum diem. Bonum incolumis acies: misera caecitas. Non igitur bene. Ratio quidem vestra sic cogit.</p>

  <p>Si mala non sunt, iacet omnis ratio Peripateticorum. Nihil ad rem! Ne sit sane; Mihi, inquam, qui te id ipsum rogavi? Cur
    haec eadem Democritus?
  </p>

  <p>Nemo igitur esse beatus potest. Poterat autem inpune; At hoc in eo M. Sed haec nihil sane ad rem; Quae quo sunt excelsiores,
    eo dant clariora indicia naturae. Quid iudicant sensus?</p>

  <p>Duo Reges: constructio interrete. Id enim natura desiderat. Quia dolori non voluptas contraria est, sed doloris privatio.</p>

  <p>Si enim ad populum me vocas, eum. Venit ad extremum; Conferam tecum, quam cuique verso rem subicias; At, si voluptas esset
    bonum, desideraret. Negat enim summo bono afferre incrementum diem. Haeret in salebra.</p>

</div>
