<div id="main__view">

  <h1>- Spiel des PMs -</h1>

  <div id="subtitle">Lerne was es bedeutet zu managen.</div>

  <p>Dieses Spiel soll Dir, dem Spieler, einen Überblick über die verschiedenen Teile des Projektmanagements geben. 
    Wir freuen us auch über Gruppen, die vor dem Bildschirm um den Titel des besten Projektmanagers kämpfen wollen!</p>

  <p>Das Spiel ist Ergebenis eines Projekts aus der Vorlesung 'Einführung in das Projektmanagemet' an der DHBW Stuttgart innerhalb der Fakultät Technik. 
  </p>

  <p>Gebaut wurde die Website Mit Angular 6.0, Angular Material, Karma und Jasmine.
    Um die Webseite zu erstellen haben wir als zusätzliche Technologien noch Git und Adobe XD CC genutzt.
  </p>

  <p>Wir sind alle Studenten der Informatik an der DHBW Stuttgart im 2. Semester.</p>

  <p>Zuletzt wünschen wir allen Benutzern viel Spaß und eine lehrreiche Zeit!</p>

  <h4>Das Team.</h4>

</div>
