<footer class="footer docs-footer">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
        <span>
          <a href="https://www.dhbw-stuttgart.de/home/">
            <img class="docs-footer-dhbw-logo" src="../../assets/DHBW-Logo.png" alt="DHBW">
          </a>
        </span>
      </div>
    </div>

    <div class="docs-footer-version">
      <span class="version">Version 1.0.0</span>
    </div>

    <div class="docs-footer-copyright">
      <span><a routerLink="/impressum">Impressum</a></span>
    </div>
  </div>
</footer>
