<mat-card class="player-container">
  <div class="player-content-left">
    <h2>
      <mat-icon>person</mat-icon> {{ player.player }}: {{player.title}}</h2>
    <mat-progress-bar class="player-progressBar" [color]="color" [mode]="mode" [value]=player.progress></mat-progress-bar>
  </div>
  <div class="player-content-right">
    <h4 class="player-money-information">
      <i class="material-icons player-bank">account_balance</i>{{ player.money }}
      <i class="material-icons">euro_symbol</i>
    </h4>
  </div>
</mat-card>
